<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOCAD SITE</title>
    <link rel="stylesheet" href="../../utils/css/styles.css">
    <link rel="stylesheet" href="../../fontawesome/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <a href="#" id="logo">eco-<span>-cad</span></a>
        <nav class="nav">
            <a href="#">home</a>
            <a href="#">gallery</a>
            <a href="#">about</a>
            <a href="#">blog</a>
            <a href="#">contact</a>
        </nav>
        <div class="icon-header">
            <div id="menu-bar" class="fa fa-bars"></div>
            <div id="search-bar" class="fa fa-search"></div>
        </div>
        <div class="search-form">
            <input type="search" id="search-form" placeholder="search here">
        </div>
    </header>
    <div class="background-image">
        <div class="inner-back-text">
            <h1>Architectural Services <br>
            <span>Creative & Professional</span></h1>
            <p>
                You can find professional design and construction services, <br> product selection and supply services. <br> Therefore, you can achieve high Return on <br> Investment with your project.
            </p>
            <div class="inner-back-btn">
                <a href="" class="first-btn">Read more</a>
                <a href="" class="second-btn">view projects</a>
            </div>
        </div>
    </div>

    <div class="welcome">
        <div class="main-welcome">
            <div class="inner-welcome">
                <div class="welcome-text">
                    <h1>welcome to our company</h1>
                    <p>Our company gives the best you desire</p>
                    <a href="" class="wel-btn">read more</a>
                </div>
            </div>
            <div class="inner-welcome">
                <img src="../../utils/images/pic9.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="chose-us">
        <h1>why <span>chose</span> us</h1>
        <div class="main-chose">
            <div class="inner-chose">
                <div class="chose-icon">
                    <i class="fa fa-user"></i>
                </div>
                <h2>Years of Experience in the Real Estate Industry</h2>
                <p>We have experts who specialize in the architecture, building materials, real estate and hospitality industry. They have a unique insight into the architecture, construction and operation of building projects. EcoCad strives to help you easily attain one-stop building project solution service.</p>
            </div>

            <div class="inner-chose">
                <div class="chose-icon">
                    <i class="fa fa-user"></i>
                </div>
                <h2>One-stop Design Solution for Your Hotel Projects</h2>
                <p>We truly understand how difficult real estate projects and investments are. You can integrate high quality resources on EcoCad. You can easily meet your requirement of project design, positioning, measurement, building materials, product & equipment selection and purchasing, quality control, and installation. Our one-stop design solutions can help you save time and costs.</p>
            </div>

            <div class="inner-chose">
                <div class="chose-icon">
                    <i class="fa fa-user"></i>
                </div>
                <h2>Project Improvement</h2>
                <p>According to your project positioning, you can use more reasonable design, lower-cost building materials, products and equipment selection, and lower-cost construction technology. In the end, you can get better project effects and your ideal cost-effective project construction.</p>
            </div>
        </div>
    </div>

    <div class="our-services">
        <h1>our <span>services</span></h1>
        <div class="main-service">
            <div class="inner-service">
                <img src="../../utils/images/pic1.jpg" alt="">
                <h2>We design for the future</h2>
                <p> We Offer High Standard Architecture design tailored to your needs.</p>
                <a href="#" class="service-btn">Read more</a>
            </div>

            <div class="inner-service">
                <img src="../../utils/images/pic1.jpg" alt="">
                <h2>Fit-outs and construction delivered on time and within budget.</h2>
                <p> EcoCAD provides both fit-outs and new build construction services. Through our expertise, we leverage state-of-the-art technology to ensure premium build quality across all our projects.</p>
                <a href="#" class="service-btn">Read more</a>
            </div>

            <div class="inner-service">
                <img src="../../utils/images/pic1.jpg" alt="">
                <h2>We believe in the power of art to create a more inspiring world.</h2>
                <p>We are focused on creating a future where art and creativity are an enriching part of your workspace experience. From Fortune 100 companies to growing startups, our art experts provide leaseable and commissioned art installations that suite your taste.</p>
                <a href="#" class="service-btn">Read more</a>
            </div>
        </div>
    </div>

    <div class="our-gallery">
        <h1>Made <span>made with</span> love</h1>
        <div class="main-gallery">
            <div class="inner-gallery">
                <img src="../../utils/images/pic10.png" alt="">
            </div>
            <div class="inner-gallery">
                <img src="../../utils/images/pic1.jpg" alt="">
            </div>
            <div class="inner-gallery">
                <img src="../../utils/images/pic11.jpg" alt="">
            </div>
            <div class="inner-gallery">
                <img src="../../utils/images/pic12.jpg" alt="">
            </div>
            <div class="inner-gallery">
                <img src="../../utils/images/pic13.png" alt="">
            </div>
            <div class="inner-gallery">
                <img src="../../utils/images/pic1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="customer-review">
        <h1>customer <span>review</span></h1>
        <div class="main-review">
            <div class="inner-review">
                <i  class="fa fa-quote-left"></i>
                <p>I greatly enjoyed the work done by Ecocad.</p>
                <img src="../../utils/images/pic1.jpg" alt="">
            </div>
            <div class="inner-review">
                <i  class="fa fa-quote-left"></i>
                <p>I greatly enjoyed the work done by Ecocad.</p>
                <img src="../../utils/images/pic1.jpg" alt="">
            </div>
            <div class="inner-review">
                <i class="fa fa-quote-left"></i>
                <p>I greatly enjoyed the work done by Ecocad.</p>
                <img src="../../utils/images/pic1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="contact-section">
        <div class="container">
            <h2>Contact <span>Us</span></h2>
            <p>Leave Your Contact for Professional Architectural Design Service</p>
            <div class="contact-form">
                <div>
                    <i class="fa fa-map-marker"></i><span class="form-info">8 Springville Estate, Oakland Estate, along Idowu Dabiri street,
                        Lekki-Epe Express way, Ajah, Lagos.
                    </span><br>
                    <i class="fa fa-phone"></i><span class="form-info">+2348033311656</span><br>
                    <i class="fa fa-envelope"></i><span class="form-info">ecocadprojectslimited@gmail.com</span><br>
                </div>
                <div>
                    <form>
                        <input type="text" placeholder="enter your name:" required>
                        <input type="text" placeholder="input mobile number:" required>
                        <input type="text" placeholder="input email:" required>
                        <input type="text" placeholder="Whatsapp:" required>
                        <input type="text" placeholder="Project Type:" required>
                        <textarea name="message" placeholder="Message:" id="" rows="5"></textarea>
                        <button class="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-content">
            <h3>EcoCAD Projects Limited</h3>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2020 eco-cad. designed by <span>Taladex</span></p>
        </div>
    </div>


    <script src="../../utils/js/script.js"></script>
</body>
</html>